h1 {
    text-align: center;
    font-family: "kaushans";
    font-size: 50px;

}
h2 {
    text-align: left;
    font-family: "kaushans";
    font-size: 30px;
}
.description{
    font-family:"montserrat";
}
body{
    background-color: #212B36;
    color :white;
    margin: 0%;
}
.quest{
    text-align: start;
    border-radius: 25px;
    border: 2px solid #522d5b;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    margin: 10px;
     
}
.button{
    border-radius: 25px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }
.active {
    background-color: #04AA6D;
  }
.square {
    max-width: 60%;
    margin: 0 auto;
    background-color: white;    
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}